@(hunt: models.Hunt)
<!DOCTYPE html>
<html ng-app="sh">
<head>
    <title></title>
</head>
<body ng-controller='ScavengerHuntCtrl'>
    <div class="container" ng-repeat="group in hunt.groups" style="border: 1px solid; margin-bottom: 5px; padding: 5px;">
        <h4>Group {{group.name}}</h4>
        <div class="row">
            <div class="span4">
                <p>Participants ({{group.participants.length}} total)</p>
                <p ng-repeat="participant in group.participants">{{participant}}</p>
            </div>
            <div class="span8">

            </div>
        </div>
        <div class="row span8">
            <textarea ng-model="textmsg"></textarea>
            <button ng-click="sendText(group,textmsg)">Send Group Text</button>
        </div>
    </div>
</body>
</html>