<!DOCTYPE html>
<html ng-app='sh'>
<head>
    <title>Scavenger Hunt</title>
    <script src="/assets/js/vendor/angular.min.js"></script>
    <script src="/assets/js/vendor/angular-resource.min.js"></script>
    <script src="/assets/js/vendor/angular-route.min.js"></script>
    <script src="/assets/js/scavenger-services.js"></script>
    <script src="/assets/js/scavenger-hunt.js"></script>
    <link href="/assets/css/scavenger-hunt.css" rel="stylesheet" type='text/css'>
    <link href='/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/assets/css/bootstrap-responsive.min.css' rel='stylesheet' type='text/css'>
    <script src="/assets/js/vendor/ui-bootstrap-custom-tpls-0.6.0.min.js"></script>
    <script src="/assets/js/vendor/underscore-min.js"></script>
</head>
<body ng-controller='ScavengerHuntCtrl'>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            Clue: {{item.clue}}
        </div>
        <div class="modal-body">
            Answer: {{item.answer}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <div class="container-fluid">
        <div class="span2">
            <button class="btn" ng-click="newHunt()">New Hunt</button>
                <div ng-repeat="hunt in hunts">
                    <p ng-show="hunt.active">*Active*</p>
                    <a href="" ng-click="setSelectedHunt(hunt)">{{hunt.date}}</a>
                </div>
        </div>
        <div class="span4" ng-show="showSelectedHunt">
            <button ng-click="deleteHunt()">Delete This Hunt</button>
            <h3>Groups</h3>
            <div ng-repeat="group in selectedHunt.groups" class="row div-box">
                <div>
                    Group: {{group.name}}  |  Total Participants: {{group.participants.length}} <br/>
                    <textarea ng-model="textmsg"></textarea>
                    <button ng-click="sendText(group,textmsg)">Send Group Text</button>
                </div>
                <div class="row">
                    <div class="span3">
                        Sent Clue
                    </div>
                    <div class="span3">
                        Available Clues

                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            Clue
            <textarea ng-model="clue"></textarea>
            <input type="text" ng-model="answer">
            <button ng-click="submitItem(clue,answer)">Submit</button>
            <div ng-repeat="item in items">{{item.clue}}<a href="" ng-click="openItem(item)">More...</a></div>
        </div>
        <div class="span3">
            Raw Messages:
            <table class="table-bordered">
                <tbody>
                    <tr ng-repeat="rawMessage in rawMessages">
                        <td>{{rawMessage.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>