<!DOCTYPE html>
<html ng-app='sh'>
<head>
    <title>Scavenger Hunt</title>
    <script src="/assets/js/vendor/angular.min.js"></script>
    <script src="/assets/js/vendor/angular-resource.min.js"></script>
    <script src="/assets/js/vendor/angular-route.min.js"></script>
    <script src="/assets/js/scavenger-services.js"></script>
    <script src="/assets/js/scavenger-hunt.js"></script>
    <link href="/assets/css/scavenger-hunt.css" rel="stylesheet" type='text/css'>
    <link href='/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/assets/css/bootstrap-responsive.min.css' rel='stylesheet' type='text/css'>
    <script src="/assets/js/vendor/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script src="/assets/js/vendor/underscore-min.js"></script>
</head>
<body ng-controller='ScavengerHuntCtrl'>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            Clue: <p>{{item.clue}}</p>
            <div class="dropdown">
                <a class="btn dropdown-toggle">
                    Add To Group
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="group in groups">
                        <a href="" ng-click="group.textAreaBinding = item.clue">{{group.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-body">
            Answer: {{item.answer}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <div class="container-fluid">
        <div class="span2">
            <button class="btn" ng-click="newHunt()">New Hunt</button>
                <div ng-repeat="hunt in hunts">
                    <p ng-show="hunt.active">*Active*</p>
                    <a href="" ng-click="setSelectedHunt(hunt)">{{hunt.date}}</a>
                </div>
        </div>
        <div ng-init="textmsg = []" class="span6" ng-show="showSelectedHunt">
            <button ng-click="deleteHunt()">Delete This Hunt</button>
            <h3>Groups</h3>
            <div ng-repeat="group in selectedHunt.groups" class="row div-box">
                <div>
                    Group: {{group.name}}<br/>
                    <textarea ng-model="group.textAreaBinding"></textarea>
                    <button ng-click="sendText(group)">Send Group Text</button>
                </div>
                <div class="row">
                    <div class="span6">
                        Messages
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sent</th>
                                    <th>Received</th>
                                    <th>Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="message in group.messages">
                                    <td>{{message.sent}}</td>
                                    <td>{{message.received}}</td>
                                    <td>{{toDateDisplay(message.timestamp)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            Clue
            <textarea ng-model="clue"></textarea><br/>
            Answer
            <input type="text" ng-model="answer">
            <button ng-click="submitItem(clue,answer)">Submit</button>
            <div ng-repeat="item in items">
                <a href="" ng-click="openItem(item)">{{item.clue}}</a>
            </div>
        </div>
    </div>
</body>
</html>